@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Friends don't let friends use Joeware.</h1>
    <p class="lead">(Joe Messina approves this message!)</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
